[manager]
port = 8000
minimum_copies = 2
# agent_timeout_seconds = 5  # Optional: Agent request timeout in seconds (default: 5)

[[agents]]
name = "my.agent"
hostname = "my.agent.hostname"
api_key = "550e8400-e29b-41d4-a716-446655440000"
