
<div class="row">
    <div class="col">
        <br>
    </div>
</div>
<div class="row border border-primary rounded">
    <div class="col">
        <p>Item: {{ parent_names | join(sep=' / ') }}</p>
    </div>
    {% for i in agent_items %}
    <div class="col">
        <p>
            <button class="btn btn-link p-0 text-start text-primary" 
                    hx-get="/components/agent-modal.html?agent_name={{ i.agent.name | urlencode }}&item_path={{ item_path | join(sep='%2F') | urlencode }}"
                    hx-target="#agentModalBody"
                    data-bs-toggle="modal" 
                    data-bs-target="#agentModal"
                    style="border: none; background: none; font-weight: inherit;">
                {{ i.agent.name }}
            </button>
        </p>
        {% if i.sync_status == "In Sync" %}
        <p>Status: {{ i.sync_status }}</p>
        {% else %}
        <p style="color: red;">Status: {{ i.sync_status }}</p>
        {% endif %}
        {% if i.sync_status != "Missing" %}
        <p>Size: {{ (i.item.size_kb / 1024) | round(precision=2) }} mb</p>
        {% endif %}
    </div>
    {% endfor %}
    {% if agent_items | length == 0 %}
    {% endif %}
</div>

