<div class="row">
    <div class="col">
        <br>
    </div>
</div>
<div class="row" role="tabpanel">
    <div class="col">
        <div class="list-group" id="parentList" role="tablist">
            {% for i in items %}
            <a
                id="item-{{ i.id }}"
                class="d-flex justify-content-between align-items-center list-group-item list-group-item-action"
                data-bs-toggle="list"
                href="#list-sub1-{{ i.id }}"
                role="tab"
                hx-post="/components/infopanel.html"
                hx-ext="json-enc"
                hx-include="#item-{{ i.id }} input[name='item_path']"
                hx-target="#info-panel"
            >
                {{ i.name }}
                <span class="badge text-bg-primary rounded-pill">{{ i.items | length }}</span>
                <input type="hidden" id="item_path-{{ i.id }}-0" name="item_path" value="">
                <input type="hidden" id="item_path-{{ i.id }}-1" name="item_path" value="{{ i.id }}">
            </a>
            {% endfor %}
        </div>
    </div>
    <script>
        const triggerTabList = document.querySelectorAll('#parentList a');
        triggerTabList.forEach(triggerEl => {
            const tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', event => {
                event.preventDefault();
                tabTrigger.show();

                const sub2List = document.querySelectorAll("#sub2List div.tab-pane");
                sub2List.forEach(el => {
                    el.classList.remove("active");
                    el.classList.remove("show");
                });
            });
        })
    </script>
    <div class="col">
        <div class="tab-content" id="sub1List" role="tablist">
            {% for i in items %}
            <div class="tab-pane" id="list-sub1-{{ i.id }}" role="tabpanel">
                <div class="list-group" id="list-sub1-tabs-{{ i.id }}" role="tablist">
                    {% for j in i.items %}
                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action" data-bs-toggle="list" href="#list-sub2-{{ j.id }}" role="tab">
                        {{ j.name }}
                        <span class="badge text-bg-primary rounded-pill">{{ j.items | length }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        const triggerSub1TabList = document.querySelectorAll('#sub1List a');
        triggerSub1TabList.forEach(triggerEl => {
            const tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', event => {
                event.preventDefault()
                tabTrigger.show()
            })
        })
    </script>
    <div class="col">
        <div class="tab-content" id="sub2List" role="tablist">
            {% for i in items %}
            {% for j in i.items %}{% if not j.leaf %}
            <div class="tab-pane" id="list-sub2-{{ j.id }}" role="tabpanel">
                <div class="list-group" id="list-sub2-tabs-{{ j.id }}" role="tablist">
                    {% for k in j.items %}
                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                        {{ k.name }}
                        <span class="badge text-bg-primary rounded-pill">{{ k.items | length }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}{% endfor %}
            {% endfor %}
        </div>
    </div>
</div>