{% include "utils/head.html" %}

<body>
{% include "components/navbar.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="mt-4">
                <h2>Agents Overview</h2>
                <p class="text-muted">High level information about all configured agents</p>
            </div>
        </div>
    </div>

    <div id="agents-table-container" class="mt-3">
        {% include "components/agents-table.html" %}
    </div>
</div>

{% include "utils/footer.html" %}
{% include "utils/scripts.html" %}

</body>
</html>
